[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "dep/Guizmo"]
	path = dep/gui/Guizmo
	url = https://github.com/XDzzzzzZyq/ImGuizmo.git
[submodule "dep/gui/ImGui"]
	path = dep/gui/ImGui
	url = https://github.com/XDzzzzzZyq/imgui.git
	branch = docking
[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
